.sidebar{
    display: flex;
    flex-direction: column;
    flex: 0.35;
    
}
.sidebar_header{
    display: flex;
    justify-content:space-between;
    padding: 2rem;
    border-right: 1px solid lightgray;
}
.sidebar_headerright{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 10vw;
}
.sidebar_headerright > .MuiSvgIcon-root{
    margin-right: 2vw;
  
}
.sidebar_search{
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
    height: 3.9rem;
    padding: 1rem;
}
.sidebar_searchcontainer{
    display: flex;
    align-items: center;
    width:100%;
    height: 3.5rem;
    background-color:white;
    border-radius: 2rem;

}
.sidebar_searchcontainer > .MuiSvgIcon-root{
    color: gray;
    padding: 1rem;
}
.sidebar_searchcontainer > input{
    border:none;
    margin-left: 1rem;
    outline:none;
}
.sidebar_chats{
    flex:1;
    background-color: white;
    overflow: auto;
}
